/**************************************/
/************* Variables **************/
  
// colors
$blue: (#0A8CEE, #9DB6C0)
$green: (#74D354)
$gray: (#515D6F, #EAEDEB)

// view-ports sizes
$xs: 457px !default
$sm: 600px !default
$smd: 750px !default
$md: 992px !default
$lg: 1200px !default
$xs-up: 458px !default
$sm-up: 601px !default
$smd-up: 751px !default
$md-up: 993px !default
$lg-up: 1201px !default

// Font Weight
$lightest: 200;  
$lighter: 300;
$light: 400;
$regular: 500;
$bold: 600;
$bolder: 700;
$boldest: 800;
