extends _layout
  
block content
  include _nav

  #indexWrapper
    h4 WELCOME!

block additional_scripts
  script.
    $(document).ready(function(){  
      var contacts = {};
      "#{session.contacts}".split(",").forEach(function(contact) {
        contacts[contact] = null;
      });
      $('.autocomplete').autocomplete({
        data: contacts,
      });
    });