extends _layout

block content
  .section.container-center
    .login-container.center.width-max-350.b-white.rounded-12.padding-all-20.padding-top-40.padding-bottom-40.z-depth-2
      img.margin-bottom-30(src="/img/logo.png")
      p.t-big Log in to your account
      form#loginForm.row
        .input-field.col.s12.no-margin-top.margin-bottom-10
          label(for="email") E-mail
          input#loginUser.validate(type="email" required)
        .input-field.col.s12.no-margin
          label(for="password") Password
          input#loginPass.validate(type="password" required)
        button#loginSubmit.margin-top-30.btn-large.b-blue-1.waves-effect.waves-light.col.s8.offset-s2(type="submit") 
          | Log In
      p
        a.t-gray-1(href="/register") Not registered? Do it now!

block additional_scripts
  script.
    firebase.auth().onAuthStateChanged(function(user) {
      window.user = user;
      console.log('AuthStateChanged Flag');
      console.log('user => ',user);
    });

    $("#loginForm").submit(function(e) {
      e.preventDefault();
      e.stopPropagation();
      console.log('Login In...');
      var email = $("#loginUser").val();
      var password = $("#loginPass").val();
      // Sign in with email and pass.
      // [START authwithemail]
      firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // [START_EXCLUDE]
        if (errorCode === 'auth/wrong-password') {
          alert('Wrong password.');
        } else {
          alert(errorMessage);
        }
        console.log(error);
        document.getElementById('quickstart-sign-in').disabled = false;
        // [END_EXCLUDE]
      });
      // [END authwithemail]
      var credential = firebase.auth.EmailAuthProvider.credential(email, password);
      var auth = firebase.auth();
      var currentUser = auth.currentUser;
      console.log('Logged In...');
      console.log('currentUser => ',currentUser); 
      if (currentUser) {
        window.location.href = "/home";
      } else {
          M.Toast.dismissAll();
          M.toast({html: "Incorrect user or password", classes: 'toast-alert', displayLength: 3000});
      }      

    });