extends _layout

block content
  .section.container-center
    .login-container.center.width-max-350.b-white.rounded-12.padding-all-20.padding-top-40.padding-bottom-40.z-depth-2
      img.margin-bottom-30(src="/img/logo.png")
      p.t-big.margin-bottom-20.t-bold Register your account
      form#registerForm.row
        .input-field.col.s12.no-margin-top.margin-bottom-10
          label(for="name") Name
          input#loginName.validate(type="text" required)
        .input-field.col.s12.no-margin-top.margin-bottom-10
          label(for="email") E-mail
          input#loginUser.validate(type="email" required)
        .input-field.col.s12.no-margin
          label(for="password") Password
          input#loginPass.validate(type="password" required)
        button#loginSubmit.margin-top-30.btn-large.b-blue-1.waves-effect.waves-light.col.s8.offset-s2(type="submit") 
          | Register
      p
        a.t-gray-1.t-bold(href="/") Already have an account? Log In!
      //- p.margin-top-20
      //-   a#loginOut.t-gray-1(href="/logout") [DEBUG] Log Out
